<nav class="navbar">
    <div class="navbar__container">
        <!-- Botón para colapsar/expandir la barra de navegación en dispositivos móviles -->
        <button class="navbar__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar__toggler-icon"></span>
        </button>
        <!-- Contenedor que se colapsa/expande -->
        <div class="navbar__collapse" id="navbarNav">
            <ul class="navbar__list">
                <!-- Iteramos los elementos de la barra -->
                <li *ngFor="let item of navbarItems" class="navbar__item">
                    <!-- Si el elemento tiene subitems, hace dropdown -->
                    <ng-container *ngIf="item.subItems?.length; else noSubItems">
                        <div class="navbar__dropdown">
                            <!-- Botón que abre el dropdown -->
                            <a class="navbar__link navbar__link--dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- Muestra el icono si está definido -->
                                <i *ngIf="item.icon" class="navbar__icon" [ngClass]="item.icon"></i>
                                {{item.label}}
                            </a>
                            <!-- Menú desplegable -->
                            <ul class="navbar__dropdown-menu">
                                <li *ngFor="let subItem of item.subItems" class="navbar__dropdown-item">
                                    <a *ngIf="subItem.url" class="navbar__dropdown-link" [routerLink]="subItem.url">
                                        {{subItem.label}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                    <!-- Si el elemento no tiene subitems (es un enlace normal) -->
                    <ng-template #noSubItems>
                        <!-- Si el elemento tiene URL, muestra un enlace normal -->
                        <a class="navbar__link navbar__link--active" aria-current="page" *ngIf="item.url; else logoutTemplate" [routerLink]="item.url">
                            <!-- Muestra un icono si está definido -->
                            <i *ngIf="item.icon" class="navbar__icon" [ngClass]="item.icon"></i>
                            {{item.label}}
                        </a>
                    </ng-template>
                    <!-- Si el elemento no tiene URL pero tiene una acción como Logout -->
                    <ng-template #logoutTemplate>
                        <!-- Muestra un enlace que ejecuta la acción al hacer clic -->
                        <a class="navbar__link navbar__link--action" aria-current="page" *ngIf="item.action" (click)="item.action()">
                            <!-- Muestra un icono si está definido -->
                            <i *ngIf="item.icon" class="navbar__icon" [ngClass]="item.icon"></i>
                            {{item.label}}
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>